@tailwind base;
@tailwind components;
@tailwind utilities;

.colored-text {
  background-image: linear-gradient(
    to right top,
    #d16ba5,
    #c777b9,
    #ba83ca,
    #aa8fd8,
    #9a9ae1,
    #8aa7ec,
    #79b3f4,
    #69bff8,
    #52cffe,
    #41dfff,
    #46eefa,
    #5ffbf1
  );
  background-clip: text;
  color: transparent;
  /* background-image : linear-gradent(180 deg , rgb(179, 180, 236) , rgb(241, 233, 217)); */
}

.big-text {
  @apply text-[36px] lg:text-[46px] lg:font-[800] leading-[3rem] tracking-[-2.5px] md:tracking-[-2.7px] lg:leading-[3.5rem] font-bold;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
